/* External Resources */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap");

/* Variables */

:root {
  /* Color */
  --color-accent: #f43f5e;
  --color-neutral-50: #ffffff;
  --color-neutral-300: #a1a1aa;
  --color-neutral-600: #27272a;
  --color-neutral-900: #18181b;

  /* Fonts */
  /* Font Size */
  --font-size-heading-01: 48px;
  --font-size-heading-02: 42px;
  --font-size-heading-03: 36px;
  --font-size-body: 16px;
  --font-size-label: 14px;

  /* Font Weight */
  --font-weight-heading-01: 700;
  --font-weight-heading-02: 700;
  --font-weight-heading-03: 700;
  --font-weight-body: 400;
  --font-weight-label: 700;

  /* Line Height */
  --line-height-heading-01: 60px;
  --line-height-heading-02: 48px;
  --line-height-heading-03: 45px;
  --line-height-body: 24px;
  --line-height-label: 18px;

  /* Font Family */
  --font-family: "Plus Jakarta Sans", sans-serif;
}

/* Global */

:root {
  /* Behavior */
  scroll-behavior: smooth;

  /* Fonts */
  font-family: var(--font-family);

  /* Utilities */
  background-color: var(--color-neutral-900);
}

* {
  /* Spacing */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: var(--color-neutral-50);
  font-size: var(--font-size-heading-01);
  font-weight: var(--font-weight-heading-01);
  line-height: var(--line-height-heading-01);
  font-family: var(--font-family);
}

h2 {
  color: var(--color-neutral-50);
  font-size: var(--font-size-heading-02);
  font-weight: var(--font-weight-heading-02);
  line-height: var(--line-height-heading-02);
  font-family: var(--font-family);
}

h3 {
  color: var(--color-neutral-50);
  font-size: var(--font-size-heading-03);
  font-weight: var(--font-weight-heading-03);
  line-height: var(--line-height-heading-03);
  font-family: var(--font-family);
}

p {
  color: var(--color-neutral-300);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-body);
  line-height: var(--line-height-body);
  font-family: var(--font-family);
}

label {
  color: var(--color-neutral-50);
  font-size: var(--font-size-label);
  font-weight: var(--font-weight-label);
  line-height: var(--line-height-label);
  font-family: var(--font-family);
}

li {
  color: var(--color-neutral-50);
  list-style: none;
}

a {
  color: var(--color-neutral-50);
  font-size: var(--font-size-body);
  font-family: var(--font-family);
  text-decoration: none;
}

/* Helpers & Elements */
.icon {
  width: 24px;
  height: 24px;
}

.icon-48 {
  width: 48px;
  height: 48px;
}

.logo {
  width: 90px;
  height: 20px;
  background-image: url("/assets/svg/Logo.svg");
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 120px;
  overflow: hidden;
}

button,
.btn-primary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--color-neutral-900);
  background-color: var(--color-neutral-50);
  font-size: var(--font-size-label);
  font-weight: var(--font-weight-label);
  line-height: var(--line-height-label);
  font-family: var(--font-family);
  padding: 12px 24px;
  gap: 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.25s;
}

.btn-secondary {
  color: var(--color-neutral-50);
  background-color: var(--color-neutral-900);
  border: 2px solid var(--color-neutral-600);
  box-shadow: 0px 4px 4px rgba(24, 24, 27, 0.25);
}

button:hover {
  color: var(--color-neutral-50);
  background-color: var(--color-accent);
}

/* Header */

/* Navigation */
.nav-container {
  border-bottom: 1px solid var(--color-neutral-600);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 640px;
  height: 80px;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 32px;
}

.nav-item {
  padding: 2px;
}

.nav__menu {
  display: none;
  background-image: url("/assets/svg/menu.svg");
}

/* Hero */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: -120px;
  width: 100vw;
  max-width: 1360px;
}

.hero__left {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 448px;
}

.hero__left--content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hero__left--content span {
  color: var(--color-accent);
}

.hero__cta-icon {
  background-image: url("/assets/svg/call_made.svg");
  transition: all 0.25s;
}

.hero__cta:hover .hero__cta-icon {
  background-image: url("/assets/svg/call_made-White.svg");
}

.hero__right {
  width: 768px;
  height: 768px;
}

.hero__right img {
  height: 100%;
  object-fit: cover;
}

/* About */
.about-container {
  background-color: var(--color-neutral-600);
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100vw;
  max-width: 1360px;
  padding: 0 120px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.about__content {
  display: flex;
  align-items: center;
  gap: 80px;
}

.about__left {
  width: 520px;
  height: 316px;
  border-radius: 8px;
  overflow: hidden;
}

.about__left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__right {
  width: auto;
  max-width: 520px;
}

.about__right--features {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__link-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
}

.about__link-item div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.about__link-item p {
  color: var(--color-neutral-50);
}

/* Works */
.work {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  max-width: 1360px;
}

.work__left {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 394px;
}

.work__left-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.work__left-tools {
  display: flex;
  gap: 24px;
}

.work__tools-list {
  display: flex;
  gap: 8px;
}

.work__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  height: auto;
  width: 100%;
}

.work__right--feature {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  overflow: hidden;
}

.work__right--feature img {
  width: 100%;
}

.work__slider {
  display: flex;
  gap: 8px;
}

.work__slider-active {
  background-image: url("/assets/svg/Active.svg");
}

.work__slider-inactive {
  background-image: url("/assets/svg/Inactive.svg");
}

/* Contact */
.contact-container {
  background-color: var(--color-neutral-600);
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 464px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.contact__cta {
  display: flex;
  gap: 16px;
}

.contact__cta-phone-icon {
  background-image: url("/assets/svg/call.svg");
  transition: all 0.25s;
}

.contact__cta-phone:hover .contact__cta-phone-icon {
  background-image: url("/assets/svg/call-White.svg");
}

.contact__cta-email-icon {
  background-image: url("/assets/svg/alternate_email.svg");
  transition: all 0.25s;
}
.contact__cta-email:hover .contact__cta-email-icon {
  background-image: url("/assets/svg/alternate_email-White.svg");
}

.contact__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 320px;
}

.contact__content p {
  text-align: center;
}

.contact__cta-phone:hover .contact__social {
  display: flex;
  gap: 24px;
}

.contact__social {
  display: flex;
  gap: 8px;
}

.social__behance {
  background-image: url("/assets/svg/Behance.svg");
  transition: all 0.25s;
}

.social__behance:hover {
  background-image: url("/assets/svg/Behance\ -\ Accent.svg");
}

.social__linkedin {
  background-image: url("/assets/svg/Awwwards.svg");
  transition: all 0.25s;
}

.social__linkedin:hover {
  background-image: url("/assets/svg/Awwwards\ -\ Accent.svg");
}

.social__awwwards {
  background-image: url("/assets/svg/LinkedIn.svg");
  transition: all 0.25s;
}

.social__awwwards:hover {
  background-image: url("/assets/svg/LinkedIn\ -\ Accent.svg");
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  max-width: 640px;
}

footer p {
  color: var(--color-neutral-50);
}

footer div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

/* Media Queries */
/* Mobile */
@media only screen and (max-width: 390px) {
  /* Spacing */
  .container {
    padding: 0 16px;
    width: 100vw;
    max-width: 390px;
  }

  /* Fonts */
  h1 {
    font-size: var(--font-size-heading-03);
    font-weight: var(--font-weight-heading-03);
    line-height: var(--line-height-heading-03);
    margin: 0;
    padding: 0;
  }

  /* Header */
  .nav-container {
    padding: 8px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Navigation */
  nav {
    height: 48px;
    width: 100%;
    max-width: 280px;
  }

  .nav-links {
    display: none;
  }

  .nav__menu {
    display: flex;
  }

  /* Hero */

  .hero {
    flex-direction: column-reverse;
    justify-content: center;
    width: 100%;
    max-width: 390px;
    margin: 0;
    padding: 16px 40px;
    gap: 24px;
  }

  .hero__right {
    display: flex;
    justify-content: center;
    height: 226px;
    width: 328px;
  }

  .hero__left {
    width: 90vw;
  }

  .hero__left-content {
    width: auto;
  }

  .hero__cta {
    width: 100%;
  }

  /* About */
  .about {
    margin: 0;
    padding: 40px 0;
    width: 100%;
    max-width: 358px;
  }

  .about__content {
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 390px;
  }

  .about__left {
    width: 100%;
    max-width: 390px;
  }

  .about__right {
    padding: 0 16px;
    width: 100%;
    max-width: 358px;
  }

  /* Works */
  .work {
    flex-direction: column;
    width: auto;
    max-width: 390px;
    margin: 0;
    padding: 40px 16px;
  }

  .work__left {
    width: auto;
  }
  /* Contact */
  .contact {
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: 100%;
    max-width: 390px;
  }

  .contact__cta {
    flex-direction: column;
    width: 100%;
  }

  .contact__cta button {
    width: 100%;
  }

  /* Footer */
  footer {
    max-width: 280px;
  }

  .footer__copyright p {
    display: none;
  }
}
